.technoItem div{
    padding: 5px;
}
.technoItem span{
    padding: 10px;
}
.technoItem{
    border :5px solid #07c5fa;
    padding: 10px;
    margin: 5px;
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 15px;
}
.btn-delete{
    background-color: #af0303;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    border-radius: 5px;
    box-shadow: 2px -2px #888;
}